html {
    font-size: 62.5%;
}

body {
    background: linear-gradient(to right, #F2E4E3, #E7C7C8);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

 h1, h2, h3, h4, h5, h6 {
    font-family: $scriptFont, sans-serif;
 }

 h1 {
    font-size: 3.8em;  

     @mixin atMedium {
        font-size: 4.8em;     
    }   
  
    @mixin atLarge {
        font-size: 6.8em;   
    }    
 }

 h2 {
    font-size: 3.8em;  
    font-family: $scriptFont, sans-serif;

     @mixin atMedium {
        font-size: 4.8em;     
    }   
  
    @mixin atLarge {
        font-size: 6.8em;   
    } 
 }

 h3 {
    font-size: 3.8em;  

     @mixin atMedium {
        font-size: 4.8em;     
    }   
  
    @mixin atLarge {
        font-size: 6.8em;   
    } 
 }

 h4 {
    font-size: 3.8em;  

     @mixin atMedium {
        font-size: 4.8em;     
    }   
  
    @mixin atLarge {
        font-size: 6.8em;   
    } 
 }

 h5 {
    font-size: 3.8em;  

     @mixin atMedium {
        font-size: 4.8em;     
    }   
  
    @mixin atLarge {
        font-size: 6.8em;   
    } 
 }

 h6 {
    font-size: 3.8em;  

     @mixin atMedium {
        font-size: 4.8em;     
    }   
  
    @mixin atLarge {
        font-size: 6.8em;   
    } 
 }

 .blog-body {
     max-width: 94rem;
     height: auto;
     background-color: #fff;
     box-shadow: 0, 0, 0, .5;
     margin: auto;
     height: 100vh;

     &__text {
         max-width: 65.6rem;
         margin: 0 auto;
        h2 {
            font-family: $bodyText, sans-serif;
            font-weight: 300;
            font-size: 3em;
        }
     }

     &__tags {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__author {
            font-size: 1em;
        }
   
        &__date {
            font-size: 1em;
        }
     }
 }

 .blog-head {
     text-align: center;
     &__main {
         color: #C1A87D;
         text-align: center;
         margin: 0;
         padding-top: 4rem;
     }
     &__sub {
         color: #C1A87D;
         text-align: center;
         font-size: 2em;
         font-family: $bodyText, sans-serif;
         font-weight: 300;
         margin: .5rem 0 0 0; 

         @mixin atMedium {
            font-size: 2.4em;    
        }  

        @mixin atLarge {
            font-size: 2.7em;   
        } 
    }
}



